html, body {
  width: 100;
  height: 100%;
  color: #222;
}

.navbar {
  padding: .8rem;
}

.navbar {
  padding-right: 20px;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption h1 {
  text-transform: uppercase;
  text-shadow: 1px 1px 20px #000;
  font-size: 500%;
}

.carousel-caption h3 {
  padding-bottom: 1rem;
  text-shadow: 1px 1px 10px #000;
  font-size: 150%;
  font-weight: 500%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* Fix Background Image */
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}

/* Media Queries */
@media (min-width:3840px) {
  .carousel-caption {
    top: 53%;
  }

  .carousel-caption h1 {
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
    font-size: 2000%;
  }

  .carousel-caption h3 {
    padding-bottom: 1rem;
    text-shadow: 1px 1px 10px #000;
    font-size: 500%;
    font-weight: 500%;
  }

  .carousel-inner img {
    width: 100%;
    height: auto;
  }

  ol.carousel-indicators li,
  ol.carousel-indicators li.active {
    width: 7%;
    height: 20px;
  }
}

@media (max-width:3839px) {
  .carousel-caption {
    top: 55%;
  }

  .carousel-caption h1 {
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
    font-size: 1200%;
  }

  .carousel-caption h3 {
    padding-bottom: 1rem;
    text-shadow: 1px 1px 10px #000;
    font-size: 250%;
    font-weight: 700%;
  }

  ol.carousel-indicators li,
  ol.carousel-indicators li.active {
    width: 4%;
    height: 10px;
  }
}

@media (max-width:1920px) {
  .carousel-caption h1 {
    text-transform: uppercase;
    text-shadow: 1px 1px 20px #000;
    font-size: 500%;
  }

  .carousel-caption h3 {
    padding-bottom: 1rem;
    text-shadow: 1px 1px 10px #000;
    font-size: 150%;
    font-weight: 500%;
  }

  .carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  ol.carousel-indicators li,
  ol.carousel-indicators li.active {
    width: 5%;
    height: 5px;
  }
}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .carousel-caption h1 {
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
    font-size: 350%;
  }

  .carousel-caption h3 {
    padding-bottom: .2rem;
    font-size: 140%;
    font-weight: 400%;
  }

  .carousel-caption {
    top: 45%;
  }
}

@media (max-width: 576px) {
  .carousel-indicators {
    display: none;
  }

  .carousel-caption h1 {
    font-size: 250%;
  }

  .carousel-caption h3 {
    font-size: 110%;
  }

  .carousel-caption {
    top: 40%;
  }
}

.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

#fixed {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  background-image: url('IMAGES/background1.jpg');
  background-position: center center;
  background-size: cover;
  will-change: transform;
}

/* Bootstrap padding fix */
[class*="col-"] {
  padding: 1rem;
}
