/* The following links allow the use of improted fonts from the google api */
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);
/* Fonts used in the page */
font-family: 'Bebas Neue', cursive;
font-family: 'Bree Serif', serif;
font-family: 'Merienda One', cursive;

html, body {
  width: 100;
  height: 100%;
  color: #222;
}

/* Sets the position of the search box in the index */
.searchbox {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.navbar {
  padding: .8rem;
}

.navbar {
  padding-right: 20px;
}

/* Sets the dimension of the image in the slides */
.carousel-inner img {
  width: 100%;
  height: 100%;
}

/* Sets the live weateher image to the max width */
.weatherImage {
  width: 100%;
  height: auto;
}

/* Changes the font size and applies shadow effect to the h1 in the slides */
.carousel-caption h1 {
  text-transform: uppercase;
  text-shadow: 1px 1px 20px #000;
  font-size: 500%;
}

/* Cahnges padding and applies shadow effect to the h3 font group in the slides */
.fontH3 {
  padding-bottom: 1rem;
  text-shadow: 1px 1px 10px #000;
  font-size: 150%;
  font-weight: 500%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* Styles the 'Check what's the weatehr like' text in the index */
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
  font-family: 'Bree Serif', serif;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

/* Sets the font for 'Enter your city' text */
.cityInput {
  font-family: 'Bebas Neue', cursive;
}

/* Chages teh size of the paragraphs */
.app-wrap p {
  font-size: 400%
}

/* Sets the font for the outcome of the data retrieved from teh API */
.appFont {
  font-family: 'Merienda One', cursive;
}

.weatherImage img {
  width: 100%;
  height: auto;
}

/* Sets teh background colour of the footer */
footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

/* Fix Background Image */
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}

/* Media Queries */
@media (min-width:3840px) {
  .navbar {
    padding: .5rem;
  }

  .fontSizeNavBar {
    font-size: 45px;
  }

  .navBarLogo {
    width: 20%;
    height: auto;
  }

  .navbar {
    padding-right: 150px;
  }

  .carousel-caption {
    top: 53%;
  }

  .carousel-caption h1 {
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
    font-size: 2000%;
  }

  .fontH3 {
    padding-bottom: 1rem;
    text-shadow: 1px 1px 10px #000;
    font-size: 500%;
    font-weight: 500%;
  }

  .carousel-inner img {
    width: 100%;
    height: auto;
  }

  ol.carousel-indicators li,
  ol.carousel-indicators li.active {
    width: 7%;
    height: 20px;
  }

  .welcome h1 {
    font-size: 850%;
  }

  /* App section */
  .cityInput {
    font-size: 700%;
    text-align: relative;
  }

  .search-box {
    position: inherit;
    top: 6px;
    left: -350px;
    width: 500px;
    height: 90px;
    font-size: 65px;
  }

  .appFont {
    font-size: 70px;
    text-align: center;
    word-spacing: 2px;
    line-height: 160%;
  }

  .weatherImage {
    width: 30%;
    height: auto;
    position: relative;
    left: 280px;
  }

  .footerLogo img {
    width: 15%;
    height: auto;
  }

  .footerFont {
    font-size: 30px;
  }

  .footerFont h5 {
    font-size: 45px;
  }
}

@media (max-width:3839px) {
  .fontSizeNavBar {
    font-size: 30px;
  }

  .carousel-caption {
    top: 55%;
  }

  .carousel-caption h1 {
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
    font-size: 1200%;
  }

  .fontH3 {
    padding-bottom: 1rem;
    text-shadow: 1px 1px 10px #000;
    font-size: 250%;
    font-weight: 700%;
  }

  ol.carousel-indicators li,
  ol.carousel-indicators li.active {
    width: 4%;
    height: 10px;
  }

  .welcome h1 {
    font-size: 550%;
  }

  /* App section */
  .cityInput {
    font-size: 500%;
    text-align: relative;
  }

  .search-box {
    position: inherit;
    top: 6px;
    left: -250px;
    width: 400px;
    height: 60px;
    font-size: 45px;
  }

  .appFont {
    font-size: 45px;
    text-align: center;
    word-spacing: 2px;
    line-height: 150%;
  }

  .weatherImage {
    width: 30%;
    height: auto;
    position: relative;
    left: 180px;
  }

  .footerLogo img {
    width: 15%;
    height: auto;
  }

  .footerFont {
    font-size: 23px;
  }

  .footerFont h5 {
    font-size: 35px;
  }
}

@media (max-width:1920px) {
  .fontSizeNavBar {
    font-size: 20px;
  }

  .carousel-caption h1 {
    text-transform: uppercase;
    text-shadow: 1px 1px 20px #000;
    font-size: 500%;
  }

  .fontH3{
    padding-bottom: 1rem;
    text-shadow: 1px 1px 10px #000;
    font-size: 150%;
    font-weight: 500%;
  }

  .carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  ol.carousel-indicators li,
  ol.carousel-indicators li.active {
    width: 5%;
    height: 5px;
  }

  .welcome h1 {
    font-size: 450%;
  }

  /* App section */
  .cityInput {
    font-size: 350%;
    text-align: relative;
  }

  .search-box {
    position: relative;
    top: 6px;
    left: -50px;
    right: 50px;
    width: 300px;
    height: 45px;
    font-size: 35px;
  }

  .appFont {
    font-size: 27px;
    text-align: center;
    word-spacing: 2px;
    line-height: 150%;
  }

  .weatherImage {
    width: 50%;
    height: auto;
    position: relative;
    left: 60px;
  }

  .footerLogo img {
    width: 15%;
    height: auto;
  }
}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .carousel-caption h1 {
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
    font-size: 350%;
  }

  .fontH3 {
    padding-bottom: .2rem;
    font-size: 140%;
    font-weight: 400%;
  }

  .carousel-caption {
    top: 45%;
  }

  .welcome h1 {
    font-size: 350%;
  }

  /* App section */
  .cityInput {
    font-size: 300%;
  }

  .search-box {
    position: relative;
    top: 6px;
    left: -30px;
    width: 250px;
    height: 40px;
    font-size: 25px;
  }

  .appFont {
    font-size: 23px;
    text-align: center;
    word-spacing: 2px;
    line-height: 150%;
  }

  .weatherImage {
    width: 70%;
    height: auto;
  }

  .footerLogo img {
    width: 20%;
    height: auto;
  }
}

@media (max-width: 576px) {
  .carousel-indicators {
    display: none;
  }

  .carousel-caption h1 {
    font-size: 250%;
  }

  .fontH3 {
    font-size: 110%;
  }

  .carousel-caption {
    top: 45%;
  }

  .welcome h1 {
    font-size: 250%;
  }

  /* App section */
  .cityInput {
    font-size: 210%;
    text-align: center;
  }

  .search-box {
    position: center;
    top: -10px;
    left: -10px;
  }

  .appFont {
    text-align: center;
    word-spacing: 2px;
    line-height: 150%;
    font-size: 17px;
  }

  .weatherImage {
    width: 70%;
    height: auto;
  }
}

.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

#fixed {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  background-image: url('IMAGES/background1.jpg');
  background-position: center center;
  background-size: cover;
  will-change: transform;
}

/* Bootstrap padding fix */
[class*="col-"] {
  padding: 1rem;
}
